* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #aaa;
	font: 18px Metrophobic, sans-serif;
}

a:link, a:visited, a:active {
	color: #58a;
	text-decoration: none;
}
a:hover {
	color: #5ad;
}

img {
	border: 1px solid #777;
	box-shadow: 0 0 1px #777;
}

#wrapper {
	width: 900px;
	margin: 10px auto 100px;
	padding: 10px 50px 25px;
	background-color: #111;
	box-shadow: 0 0 5px #222;
}

#header {
	margin: 40px 0 27px 0;
}
	#header h1 {
		margin-top: 10px; 
		color: #987;
		font-weight: bold;
		font-size: 3em;
		display: inline;
	}

#main {
}
	#main .entry h2 { /* title */
		font-weight: bold;
		font-size: 1.75em;
		margin: 1em 0 0;
	}
	#main .entry h3 { /* date */
		font-size: 1em;
		font-weight: normal;
		font-variant: small-caps;
		margin: 0 0 1em;
	}
	#main .entry_content {
		font-family: 'Roboto Slab', serif;
	}
	#main .entry_content p {
		line-height: 1.5;
	}
	#main .entry_content a {
		text-decoration: underline;
	}
	#main .entry_content h2 {
		font-weight: bold;
		font-size: 1.2em;
	}
	#main .entry_content pre {
		margin-left: 2em;
	}

@media (max-width: 900px) {
	body {
		margin: 0;
		font-size: 14px;
	}
	#header {
		margin: 12px 0 6px 0;
	}
	#wrapper {
		width: 100%;
		padding: 8px;
	}
	blockquote {
		margin: 1em 2em;
	}
	a {
		overflow-wrap: break-word;
	}
}
