body {
	background-color: #000;
	color: #ddd;
	font: 18px Metrophobic, sans-serif;
}

a:link, a:visited, a:active {
	color: #08a;
	text-decoration: none;
}
a:hover {
	color: #0ae;
}

img {
	border: 1px solid #777;
	box-shadow: 0 0 1px #777;
}

#wrapper {
	width: 800px;
	margin: 10px auto 100px;
	padding: 10px 50px 25px;
	background-color: #111;
	box-shadow: 0 0 5px #222;
}

#header {
	margin: 40px 0 27px 0;
}
	#header h1 {
		margin-top: 10px; 
		color: #987;
		font-weight: bold;
		font-size: 3em;
		display: inline;
	}

#main {
}
	#main .entry h2 { /* title */
		font-weight: bold;
		font-size: 1.75em;
		margin: 1em 0 0;
	}
	#main .entry h3 { /* date */
		font-size: 1em;
		font-weight: normal;
		font-variant: small-caps;
		margin: 0 0 1em;
	}
	#main .entry_content p {
		line-height: 1.5;
		margin-left: 1em;
		font-family: Rokkitt, serif;
	}
	#main .entry_content a {
		text-decoration: underline;
	}
	#main .entry_content h2 {
		font-weight: bold;
		font-size: 1.5em;
	}
