<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Metrophobic" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#222">
	<script type="text/javascript">
		(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
		g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
		mixpanel.init('4ccf3354fd7af6b66d77606f191ab4f4');
		mixpanel.track('blog');
	</script>
	{% block extra_css %}{% endblock %}
	{% block extra_js %}{% endblock %}
	{% block extra_ogp %}{% endblock %}
</head>
<body>
	<div id="wrapper">
		{% block body %}
			<nav>
				<p><a href="/">Home</a> | <a href="/archives.html">Archives</a></p>
			</nav>
			<header>
				<h1>Blog</h1>
			</header>

			<main>
				{% block main %}{% endblock %}
			</main>
		{% endblock %}
	</div>

	<footer>
		<a href="https://vmst.io/@raylu" rel="me">
			<img src="https://joinmastodon.org/logos/logo-purple.svg">
		</a>
	</footer>
</body>
</html>
