<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Metrophobic" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#222">
	{% block extra_css %}{% endblock %}
	{% block extra_js %}{% endblock %}
	{% block extra_ogp %}{% endblock %}
</head>
<body>
	<div id="wrapper">
		{% block body %}
			<nav>
				<p><a href="/">Home</a> | <a href="/archives.html">Archives</a></p>
			</nav>
			<header>
				<h1>Blog</h1>
			</header>

			<main>
				{% block main %}{% endblock %}
			</main>
		{% endblock %}
	</div>

	<footer>
		<a href="https://vmst.io/@raylu" rel="me">
			<img src="https://joinmastodon.org/logos/logo-purple.svg">
		</a>
	</footer>
</body>
</html>
