<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Metrophobic" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#222">
	{% block extra_css %}{% endblock %}
	{% block extra_js %}{% endblock %}
</head>
<body>
	<div id="wrapper">
		{% block body %}
			<div id="nav">
				<p><a href="/">Home</a> | <a href="/archives.html">Archives</a></p>
			</div>
			<div id="header">
				<h1>Blog</h1>
			</div>

			<div id="main">
				{% block main %}{% endblock %}
			</div>
		{% endblock %}
	</div>
</body>
</html>
